<!DOCTYPE html>

<html>
<head>
    <link href=”//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css” rel=”stylesheet”>
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/ui.css" rel="stylesheet" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="~/js/javascript.js"></script>
    <script src="multiselect/jquery.multiselect.js"></script>
    <link rel="stylesheet" href="multiselect/jquery.multiselect.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />


    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Daraz App <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/Home/DashboarView">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <!-- Nav Item - Utilities Collapse Menu -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Home/AdminView" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-users"></i>
                    <span>Users</span>
                </a>
            </li> 

            <li class="nav-item" id="AddNewUser">
                <a class="nav-link collapsed" href="/Home/AddNewAdmin" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-users"></i>
                    <span>Add User</span>
                </a>
            </li>
            
            <li class="nav-item">
              @*  <a class="nav-link collapsed" href="/Home/AddNewAdmin" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-users"></i>
                    <span>Add User</span>
                </a>*@
            <div class="dropdown">
                     <a class="nav-link collapsed dropbtn" href="/Home/AddNewAdmin" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                        <i class='fas fa-indent'></i>
                        <span>Room</span>
                        </a>
                    <div class="dropdown-content position-relative">
                        <a href="/Home/AssignPages?id=1">AssignTo</a>
                        <a href="/Home/AssignPages">Assign By</a>
            </div>
            </div>
             </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider">

            @*  <select>
            <option>Buyer</option>
            <option>Store</option>
            </select>*@

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->


            <li class="nav-item">
                <a class="nav-link collapsed" href="/Table/AddCategory" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-bezier-curve"></i>
                    <span>Categories</span>
                </a>

            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Table/AllUserProductsAdminView" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Products</span>
                </a>

            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Home/AddProductsView" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-users"></i>
                    <span>Add Product</span>
                </a>
            </li>
            <!-- Nav Item - Charts -->

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-table"></i>
                    <span id="SignOut">Sign Out</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">



        </ul>


        <div id="content-wrapper" class="d-flex flex-column">
            <div class="input-group">
            </div>
            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" id="ProdValues" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2">

                            <div class="input-group-append">
                                <button class="btn btn-primary" id="ProductSe" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="AllChats" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter"></span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter" id="PendingHelps"></span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">
                                            Hi there! I am wondering if you can help me with a
                                            problem I've been having.
                                        </div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                             alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            I have the photos that you ordered last month, how
                                            would you like them sent to you?
                                        </div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                             alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!
                                        </div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...
                                        </div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="/Home/AdminAccountUpdate" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="UserName"></span>
                                <div id="UserImage1"></div>

                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>


                <div id="UnCheckMessagesCard">
                </div>


                <div>
                    <div id="AddNewModaln" class="modal fade text-container" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <label for="exampleInputEmail1">Notifications</label>
                                    <button type="button" id="AddNewcanceln" class="close btn btn-danger" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">

                                    <div id="UnCheckMessages"></div>
                                    @*    <div class="modal-footer">
                                    <button class="btn btn-light float-end mb-4" id="Save">Send</button>
                                    </div>*@
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div>
                    @RenderBody()
                </div>
                <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script src="~/js/bootstrap.bundle.min.js"></script>
                <script src="~/js/script.js"></script>
                <script src="multiselect.min.js"></script>
                <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
                <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
                <script src="~/js/sb-admin-2.js"></script>
                <script src="~/js/sb-admin-2.min.js"></script>


                @RenderSection("Scripts", required: true)
                <script>
                    $(document).ready(function () {
                        $('#AddNewModaln').modal('hide');
                           $('#AddNewUser').hide();
                        $('#searchTable').hide();
                        GetAllCategories();
                        GetsUserData();
                        GetHelps();
                        $('#UnCheckMessagesCard').hide();
                    })
                    $("#ProdValues").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: '@Url.Action("TextBoxSearchProducts","Home")',
                                dataType: "json",
                                data: { ProductName: $("#ProdValues").val() },
                                success: function (data) {
                                    response($.map(data, function (item) {
                                        return { label: item.productName, value: item.productName };
                                    }));
                                },
                                error: function (xhr, status, error) {
                                    alert("Error");
                                }
                            });
                        }
                    });

                    $('#ProductSe').click(function () {
                        var id = $('#ProdValues').val();
                        window.location.replace('/Login/AdminPagesView?id=' + id);
                    })

                    function GetAllCategories() {
                        $.ajax({
                            url: '/Home/GetAllKidCategories',
                            type: 'Get',
                            success: function (response) {
                                $.each(response, function (key, item) {
                                    $('#Categories').append('<option value="' + item.kidCategoryId + '">' + item.kidCategoryName + '</option>');
                                })
                            },
                        })
                    }

                    $('#Search').click(function () {
                        var Id = $('select#Categories').find('option:selected').val();
                        window.location.replace("/Home/GetProductbyKidIdView?Id=" + Id)

                    })

                    function GetsUserData() {
                        var token = sessionStorage.getItem('token');
                        $.ajax({
                            headers: {
                                'Authorization': 'Berear ' + token
                            },
                            url: '/Home/GetUserData',
                            type: 'Get',
                            success: function (response) {
                                console.log('resp',response);
                                $('#UserImage1').append('<img class="icon-md rounded-circle" src="' + response.userImage + '"/>');
                                $('#UserName').append('<h6>' + response.userName + '</h6>');
                                if(response.roleId == 4){
                                $('#AddNewUser').show();
                                }
                            },
                        })
                    }

                    $('#SignOut').click(function () {
                        sessionStorage.clear('token');
                        window.location.replace("/Home/FirstPage");
                    })

                    $('#messagesDropdown').click(function () {
                        $('#UnCheckMessages').empty();
                        debugger
                        $.ajax({
                            url: '/Home/GetAllHelpsbyStatuse',
                            type: 'Get',
                            success: function (response) {
                                var uncheckst = "";
                                console.log('res', response.length);
                                $.each(response, function (key, item) {
                                    console.log('it', item);

                                    uncheckst += '<div class="row mb-4">';
                                    uncheckst += '<div class="card bg-light" onclick="GetHelpbyId(' + item.a_ChatId + ')">';
                                    uncheckst += '<formgroup class="lh-1">';
                                    uncheckst += ((item.room?.userId == null) ? '<span class="badge bg-danger float-end">Guest</span>' : "");
                                    uncheckst += '<p style="color:Black">' + item.helpType?.typeText + '</p>';
                                    uncheckst += '<p>' + item.room.userName + '</p>';
                                    uncheckst += '<p>' + item.messageText + '</p>';
                                    uncheckst += '</formgroup>';
                                    uncheckst += '</div>';
                                    uncheckst += '</div>';
                                })
                                $('#UnCheckMessages').append(uncheckst);
                                $('#AddNewModaln').modal('show');
                            },
                        })
                    })

                    $('#AddNewcanceln').click(function () {
                        $('#AddNewModaln').modal('hide');
                    })

                    function GetHelps() {
                        $.ajax({
                            url: '/Home/GetAllHelpsbyStatuse',
                            type: 'Get',
                            success: function (response) {
                                var uncheckst = "";
                                $('#PendingHelps').append(response.length);
                            },
                        })
                    }

                    function GetHelpbyId(id) {
                        window.location.replace('/Home/ChatsHistoyAdminView?id=' + id);
                    }

                    function ChangeStatus(id) {
                        debugger
                        var ResponseText = $('#ResText').val();
                        $.ajax({
                            url: '/Home/ChangeHelpStatusbyId?id=' + id,
                            type: 'POST',
                            data: { ResponseText },
                            success: function (response) {
                                debugger
                                if (response != null) {
                                    $('#PendingHelps').append(response.length);
                                }
                            },
                        })
                    }

                    $('#AllChats').click(function () {

                        var token = sessionStorage.getItem('token');
                        $.ajax({
                            headers: {
                                authorization: 'Berear ' + token
                            },
                            url: '/Home/GetRoomId',
                            success: function (id) {
                                console.log(id);
                                debugger
                                window.location.replace('/Home/ChatsHistoyAdminView?id=' + id);
                            }
                        })
                    })


                </script>
                <style>
                    .dropbtn {
                        background-color: transparent;
                        color: white;
                        padding: 16px;
                        font-size: 16px;
                        border: none;
                        cursor: pointer;
                    }

                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: transparent;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                    }

                        .dropdown-content a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                        }

                            .dropdown-content a:hover {
                                background-color: #f1f1f1
                            }

                    .dropdown:hover .dropdown-content {
                        display: block;
                    }

                    .dropdown:hover .dropbtn {
                        background-color: transparent;
                    }
                </style>
</body>
</html>
