@using DarazApp.Services;
@model DarazApp.Services.SaveData;
@{
    ViewBag.Title = "AddColour";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-12 mt-5 d-flex justify-content-center">
                    <form class="w-50 border p-5 bg-gray-light" style="margin:10%">
                        <h1 class="text-center">Add Size </h1>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Size</label>
                            <input type="email" class="form-control" id="ProdSize" aria-describedby="emailHelp" placeholder="Enter Size">

                        </div>
                        <button type="button" id="Add" class="btn btn-primary btn-lg btn-block" style="margin:13px">Add</button>
                        <button type="button" id="Back" class="btn btn-primary btn-lg btn-block" style="margin:13px">Back</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#Add').click(function () {
           debugger
            var id = $('#ProdSize').val();
            $.ajax({
                 url: '/Item/AddSizes',
                data: {
                    id
                },
                type: 'Post',
                success: function (response) {
                    debugger
                }

            })
        })
        $('#Back').click(function () {
            window.location.href = '/Home/AddProducts';
        })
    </script>