@model DarazApp.Models.ForgetPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <div class="container" id="ForgetPassword">
        <div class="row">
            <div class="row">
                <div class="col-12 mt-5 d-flex justify-content-center">
                    <form class="w-50 border p-5" style="margin:10% ; background-color:gray;">
                        <h4 class="text-center ">FORGET PASSWORD</h4>
                        <div class="form-group">
                            <div id="emailpatch">
                                <label for="exampleInputEmail1">Email :</label>
                            <input type="text" class="form-control" id="Email" placeholder="Email" />
                            </div>

                        </div>
                        <div class="form-group mb-4">
                            <div id="codepatch">
                            <label>Code : </label>
                            <input type="text" class="form-control" id="OTP" />
                            </div>
                        </div>
                        <a id="Send" class="btn btn-danger float-end">Send</a>
                        <a id="SendOTP" class="btn btn-success float-end">Send</a>
                       <a href="/Home/FirstPage" class="btn btn-light float-end">
                                <span class="ms-1 d-none d-sm-inline-block">Back  </span>
                            </a>
                    </form>
                </div>
            </div>
        </div>
    </div>

        
    <div>
        <div id="SuccessModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" id="ModalTitle">
                       
                        <button type="button" id="SuccessModalcancel" class="close btn btn-danger" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="ModalText">
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="SuccessModalclose" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" id="SuccessModalnclose" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container" id="NewPassword">
        <div class="row">
            <div class="row">
                <div class="col-12 mt-5 d-flex justify-content-center">
                    <form class="w-50 border p-5" style="margin:10% ; background-color:gray;">
                        <h4 class="text-center ">Update PASSWORD</h4>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password :</label>
                            <input type="text" class="form-control" id="Password" placeholder="Password" />
                        </div>
                        <div class="form-group mb-4">
                            <label>ConfirmPassword </label>
                            <input type="text" class="form-control" placeholder="Confirm Password" id="ConfirmPassword" />
                        </div>
                        <a id="SendPassword" class="btn btn-danger float-end">Send</a>
                        
                        <a href="/Home/FirstPage" class="btn btn-light float-end">
                            <span class="ms-1 d-none d-sm-inline-block">Back  </span>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div>
        <div id="NewModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" id="NewModalTitle">

                        <button type="button" id="NewModalcancel" class="close btn btn-danger" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="NewModalText">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="NewModalclose" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <script>
        $(document).ready(function(){
            $('#SendOTP').hide();
            $('#codepatch').hide();
            $('#SuccessModal').modal('hide');
            $('#NewPassword').hide();
        })

        $('#Send').click(function(){
            debugger
            var email = $('#Email').val();
            $.ajax({
                url: '/OTP/GenerateOTP',
                data: { email },
                success: function (response) {
                    $('#ModalTitle').empty();
                    $('#ModalText').empty();
                    $('#ModalTitle').append('<h4 class="modal-title">Success</h4>');
                    $('#ModalText').append('<p> Code sent to your Email Address successfully </p>');
                    $('#SuccessModalnclose').hide();
                    $('#SuccessModalclose').show();
                    $('#SuccessModal').modal('show');
                },
                error : function(data){
                   $('#ModalTitle').empty();
                    $('#ModalText').empty();
                    $('#SuccessModalclose').hide();
                    $('#SuccessModalcancel').hide();
                    $('#ModalTitle').append('<h4 class="modal-title">Error</h4>');
                    $('#ModalText').append('<p> Incorrect Email</p>');
                    $('#SuccessModal').modal('show');
                }
            })
        })
       
        $('#SuccessModalclose').click(function(){
            $('#Send').hide();
            //$('#Email').hide();
            $('#emailpatch').hide();
             $('#codepatch').show();
            $('#SendOTP').show();
            $('#SuccessModal').modal('hide');
        })

          $('#SuccessModalnclose').click(function(){
            //$('#Send').hide();
            //$('#Email').hide();
            $('#SendOTP').hide();
            $('#SuccessModal').modal('hide');
        })
        $('#SuccessModalcancel').click(function () {
            $('#Send').hide();
            //$('#Email').hide();
            $('#emailpatch').hide();
            $('#codepatch').show();
            $('#SendOTP').show();
            $('#SuccessModal').modal('hide');
        })

        $('#SendOTP').click(function(){
            var OTP=$('#OTP').val();
            $.ajax({
                url: '/OTP/VerifyOTP',
                data: { OTP },
                success: function (response) {
                    $('#ForgetPassword').hide();
                    $('#NewPassword').show();
                },
                error: function (data) {
                    $('#NewModalTitle').empty();
                    $('#NewModalText').empty();
                    $('#NewModalTitle').append('<h4 class="modal-title">Error</h4>');
                    $('#NewModalText').append('<p> Incorrect Code</p>');
                    $('#NewModal').modal('show');
                }
            })
        })
        
        $('#SendPassword').click(function(){
            debugger
           var OTP=$('#OTP').val();
            var Password = $('#Password').val();
            var confirmPassword = $('#ConfirmPassword').val();
           if(Password != confirmPassword){
                $('#NewModalTitle').empty();
                $('#NewModalText').empty();
                $('#NewModalTitle').append('<h4 class="modal-title">Error</h4>');
                $('#NewModalText').append('<p> Password and Confirm Password Must be Same</p>');
                $('#NewModal').modal('show');
           }
           else
           {
               $.ajax({
               
                    url: '/OTP/ChangePassword',
                    data: { Password, OTP },
                success: function (response) {
                window.location.replace('/Home/FirstPage');
                
                }
               })
           }

        })
        
        $('#NewModalclose').click(function(){
                $('#NewModal').modal('show');
        })

         $('#NewModalcancel').click(function(){
                $('#NewModal').modal('show');
        })
    </script>