@using DarazApp.Services;
@model DarazApp.Services.ViewModel
@{
    ViewData["Title"] = "DashboarView";
    Layout = "~/Views/Shared/_Layout5.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <div class="container-fluid">

        <!-- Page Heading -->
   

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Earnings (Monthly)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="CurrentMonthSale"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Earnings (Annual)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="AnnualSale"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Total Sale
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="TotalSale"></div>
                                    </div>
                                
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body" id="Pendings">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Pending Orders
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="LengthOrders"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <canvas id="line-chart"></canvas>
        </div>

      @*  <div class="container">*@
            <div id="PendingOrders"></div>
       @* </div>*@

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myAreaChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="myPieChart"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fas fa-circle text-primary"></i> Direct
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-success"></i> Social
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-info"></i> Referral
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                    </div>
                    <div class="card-body">
                        <h4 class="small font-weight-bold">
                            Progress Bar <span class="float-right" id="New_VAlue"></span>
                        </h4>
                        <div class="progress mb-4">
                            <div class="set-width-btn progress-bar bg-danger" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      
                    </div>
                </div>
            </div>
    </div>

    </div>
    <!-- /.container-fluid -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
     <script>
         $(document).ready(function(){
            //GetTotalSale();
            GetMonthlySale();
            //GetAnnualySale();
            GetOrdersStatus();
            //GetAllOrders();
            number_format();

            function number_format(number, decimals, dec_point, thousands_sep) {
                // *     example: number_format(1234.56, 2, ',', ' ');
                // *     return: '1 234,56'
                number = (number + '').replace(',', '').replace(' ', '');
                var n = !isFinite(+number) ? 0 : +number,
                    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                    s = '',
                    toFixedFix = function (n, prec) {
                        var k = Math.pow(10, prec);
                        return '' + Math.round(n * k) / k;
                    };
                // Fix for IE parseFloat(0.55).toFixed(0) = 0;
                s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
                if (s[0].length > 3) {
                    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
                }
                if ((s[1] || '').length < prec) {
                    s[1] = s[1] || '';
                    s[1] += new Array(prec - s[1].length + 1).join('0');
                }
                return s.join(dec);
            }

             var monthsale = [];  
             var monthname =[];
             $.ajax({
                 url:'/Home/EarningOverviewChart',
                success: function (response) {
                    console.log('response',response);
                    debugger
                    $.each(response , function(key,item){
                      
                         monthsale.push(item);
                        monthname.push(key);
                      
                    })
                    console.log('monthname',monthname);
                    console.log('monthlysale',monthsale);
                // Set new default font family and font color to mimic Bootstrap's default styling
                Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
                Chart.defaults.global.defaultFontColor = '#858796';

                // Area Chart Example
                var ctx = document.getElementById("myAreaChart");
                var myLineChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: monthname,
                        datasets: [{
                            label: "Earnings",
                            lineTension: 0.3,
                            backgroundColor: "rgba(78, 115, 223, 0.05)",
                            borderColor: "rgba(78, 115, 223, 1)",
                            pointRadius: 3,
                            pointBackgroundColor: "rgba(78, 115, 223, 1)",
                            pointBorderColor: "rgba(78, 115, 223, 1)",
                            pointHoverRadius: 3,
                            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                            pointHitRadius: 10,
                            pointBorderWidth: 2,
                            data: monthsale,
                        }],
                    },

                    options: {
                        maintainAspectRatio: false,
                        layout: {
                            padding: {
                                left: 10,
                                right: 25,
                                top: 25,
                                bottom: 0
                            }
                        },
                        scales: {
                            xAxes: [{
                                time: {
                                    unit: 'date'
                                },
                                gridLines: {
                                    display: false,
                                    drawBorder: false
                                },
                                ticks: {
                                    maxTicksLimit: 7
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    maxTicksLimit: 5,
                                    padding: 10,
                                    // Include a dollar sign in the ticks
                                    callback: function (value, index, values) {
                                        return 'Rs' + number_format(value);
                                    }
                                },
                                gridLines: {
                                    color: "rgb(234, 236, 244)",
                                    zeroLineColor: "rgb(234, 236, 244)",
                                    drawBorder: false,
                                    borderDash: [2],
                                    zeroLineBorderDash: [2]
                                }
                            }],
                        },
                        legend: {
                            display: false
                        },
                        tooltips: {
                            backgroundColor: "rgb(255,255,255)",
                            bodyFontColor: "#858796",
                            titleMarginBottom: 10,
                            titleFontColor: '#6e707e',
                            titleFontSize: 14,
                            borderColor: '#dddfeb',
                            borderWidth: 1,
                            xPadding: 15,
                            yPadding: 15,
                            displayColors: false,
                            intersect: false,
                            mode: 'index',
                            caretPadding: 10,
                            callbacks: {
                                label: function (tooltipItem, chart) {
                                    var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                    return datasetLabel + ': Rs' + number_format(tooltipItem.yLabel);
                                }
                            }
                        }
                    }
                });


                }
            })
         })

         function GetMonthlySale(){
             var token = sessionStorage.getItem('token');
             var total = 0;
             var date = new Date();
             $.ajax({
                 headers:{
                     authorization : 'Berear '+ token
                 },
                url: '/Home/TotalSale',
                success: function (response) {
                    console.log('sepon',response);
                    // $.each(response , function(key,item){
                    //    total += item.totalPrice;
                    //})
                    $('#CurrentMonthSale').append('<h5>Rs :' + response.monthlySale + '</h5>');
                    $('#AnnualSale').append('<h5>Rs :' + response.yearlySale + '</h5>');
                    $('#TotalSale').append('<h5>Rs :' + response.totalSale + '</h5>');
                    //var suclength = 0;
                    //suclength = Math.round((orlength / newlength) * 100) + "%";
                    var suclength = 0;
                    suclength = response.progressSale + "%";
                    console.log('suclength', suclength);
                    $('.set-width-btn').width(suclength);
                    $('#New_VAlue').append(suclength);
                }

                })
         }

         function GetOrdersStatus(){
            $.ajax({
                url: '/Home/GetStatus',
                success: function (response) {
                    var status = [];
                   debugger
                    $.each(response, function(key,item){
                        if (item.status != 4)
                        {
                            status.push(item.status);
                        }
                    })
                    $('#LengthOrders').append(status.length);
                }
            })
         }


         $('#Pendings').click(function(){
            $.ajax({
                url: '/Home/GetOrdersbyStatus',
                success: function (response) {
                    var html = "";
                    let diff = "Delivered";
                    $.each(response, function (key, items) {
                        console.log('items', items);

                        html += '<article class="card border-primary mb-4">';
                        html += '<div class="card-body">';
                        html += '<header class="d-lg-flex">';
                        html += '<div class="flex-grow-1">';
                        html += '<h6 class="mb-0" id="OrderId">' + 'Orderid' + ':' + items.odOrderdetailId + '</h6>';
                        html += '<h6 class="mb-0" id="OrderStatus">' + items.statusName + '</h6>';
                        html += '<div>';
                        //html += ((diff == items.stauts)) ? '<a><div><span class="badge bg-danger"> Review </span></div></a>' : '<div><p class="text-muted">Review</p></div>';
                        html += '</div>';
                        html += '<span class="text-muted" id="OrderDate">' + 'Date ' + ':' + items.uploadDate + '</span>';
                        html += '</div>';
                        html += '<div>';
                        html += '</div>';
                        html += '</header>';
                        html += '<hr>';
                        html += ' <div class="row">';
                        html += ' <div class="col-lg-4">';
                        html += '  <p class="mb-0 text-muted">Contact</p>';
                        html += ' <p class="m-0">';
                        html += '  ' + items.odUserName + ' <br> ' + items.odPhoneNo + ' <br>' + items.odEmail + '</p>';
                        html += ' </div>';
                        html += ' <div class="col-lg-4 border-start">';
                        html += ' <p class="mb-0 text-muted">Shipping address</p>';
                        html += ' <p class="m-0">' + items.odNationality + '<br> ' + items.address + '</p>';
                        html += ' </div>';
                        html += '<div class="col-lg-4 border-start">';
                        html += ' <p class="mb-0 text-muted">Payment</p>';
                        html += ' </div>';
                        html += '  </div>';
                        html += '<hr>';
                        html += ' <div class="d-flex">';
                        html += '<ul class="row">';
                        html += '<li class="col-xl-4  col-lg-6">';
                        html += '<figure class="itemside mb-3 d-flex">';
                        html += '<div class="d-flex">';
                        html += '<div class="card">';
                        html += '<figcaption class="info">';
                        html += '<div class="row mb-4 d-flex">';  
                        html += '<div class="d-flex">';
                        $.each(items.orderHistoryView, function (key, itemss) {
                           
                        html += '<img width="72" height="72" onclick="GetRatings(' + itemss.productId + ',' + items.odOrderdetailId + ',\'' + items.stauts + '\' ,' + itemss.productVariations?.p_VariationsID + ')" id="' + itemss.productId + '" src="' + itemss.productImage + '" class="img-sm rounded border m-2">';
                        html += '<input type="text" hidden="hidden" id="ProductIdss" value="' + itemss.productId + '" />';
                        html += '<input type="text" hidden="hidden" class="ordersidss" id="OrderDataId' + itemss.productId + '" value="' + items.odOrderdetailId + '"/>';
                            //html += '<input type="text" hidden="hidden" class="ordersidss" id="Variid' + itemss.productId + '" value="' + items.odOrderdetailId + '"/>';
                        html += '<figcaption class="info">';
                            $.each(itemss.productComments, function (key, obj) {
                                console.log('obj', obj);
                                console.log('ratings', obj.rating);
                                html += ((1 == obj.rating)) ? '<span class="fa fa-star checked" style="font-size:8px"></span><span style="font-size:8px" class="fa fa-star"></span ><span style="font-size:8px" class="fa fa-star" ></span><span style="font-size:8px" class="fa fa-star" ></span ><span style="font-size:8px" class="fa fa-star" ></span>' : '';
                                html += ((2 == obj.rating)) ? '<span class="fa fa-star checked" style="font-size:8px"></span><span style="font-size:8px" class="fa fa-star checked"></span ><span style="font-size:8px" class="fa fa-star" ></span><span style="font-size:8px" class="fa fa-star" ></span ><span style="font-size:8px" class="fa fa-star" ></span>' : '';
                                html += ((3 == obj.rating)) ? '<span class="fa fa-star checked" style="font-size:8px"></span><span style="font-size:8px" class="fa fa-star checked"></span ><span style="font-size:8px" class="fa fa-star checked" ></span><span style="font-size:8px" class="fa fa-star" ></span ><span style="font-size:8px" class="fa fa-star" ></span>' : '';
                                html += ((4 == obj.rating)) ? '<span class="fa fa-star checked" style="font-size:8px"></span><span style="font-size:8px" class="fa fa-star checked"></span ><span style="font-size:8px" class="fa fa-star checked" ></span><span style="font-size:8px" class="fa fa-star checked" ></span ><span style="font-size:8px" class="fa fa-star" ></span>' : '';
                                html += ((5 == obj.rating)) ? '<span class="fa fa-star checked" style="font-size:8px"></span><span style="font-size:8px" class="fa fa-star checked"></span ><span style="font-size:8px" class="fa fa-star checked" ></span><span style="font-size:8px" class="fa fa-star checked" ></span ><span style="font-size:8px" class="fa fa-star checked" ></span>' : '';
                            })
                            html += '<p class="title" id="ProdDes">' + itemss.productName + '</p>';
                            html += '<div class="d-flex">';
                            html += '<p class="title" id="ProdDes">' + itemss.productQuantity + 'x' + '</p>';
                            html += '<p id="ProdQuantityandPrize">' + '=' + itemss.totalPrice + 'RS' + '</p>';
                            html += '</div>';
                            html += '<p id="ProdQuantityandPrize">' + itemss.netPrice + 'RS' + '</p>';
                            html += '</figcaption>';


                            html += '<img width="72" height="72" id="' + itemss.storeId + '" src="' + itemss.storeImage + '" class="img-sm rounded border m-2">';
                            //html += '<input type="text" hidden="hidden" id="ProductIdss" value="' + itemss.productId + '" />';
                            //html += '<input type="text" hidden="hidden" class="ordersidss" id="OrderDataId' + itemss.productId + '" value="' + items.odOrderdetailId + '"/>';
                            html += '<figcaption class="info">';
                            html += '<p class="title" id="ProdDes">' + itemss.storeName + '</p>';
                            html += '<div class="">';
                            html += '<p class="title" id="ProdDes">' + itemss.storePhone + '</p>';
                            html += '<p id="ProdQuantityandPrize">' + itemss.storeEmail + '</p>';
                            html += '</div>';
                            //html += '<p id="ProdQuantityandPrize">' + itemss.storeEmail + 'RS' + '</p>';
                            html += '</figcaption>';
                        })
                            html += '</div>';
                        
                            html += '</figcaption>';
                            html += '</div>';
                        html += '</div>';
                        html += '</figure>';
                        html += '</li>';
                        html += '</ul>';
                        html += '</div>';
                        html += '</article>';
                    })
                          
                    $('#PendingOrders').append(html);
                }
            })
         })


     </script>

        <style>
        .checked {
            color: orange;
        }
    </style>