
@{
    ViewData["Title"] = "Firstpage";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}   
    }
<html>


    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-12 mt-5 d-flex justify-content-center">
                    <form class="w-50 border p-5 bg-gray-light" style="margin:10%">
                        <a href="/Home/Index"><i class='fas fa-arrow-left' style='font-size:24px ; position:absolute'></i></a>
                        <h1 class="text-center">Log In </h1>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="txtusername" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="txtpassword" placeholder="Password">
                               
                                <input type="checkbox" id="Checkbox" class="field__toggle-input" onclick="ShowPassword();" />
                                Show password
                        </div>
                        <button type="button" id="btnSignIn" class="btn btn-primary btn-lg btn-block" style="margin:13px">SignIn</button>
                        <button type="button" id="btnregister" class="btn btn-secondary btn-lg btn-block ">SignUp</button>
                     @*   <a href="/Home/"><p>As Seller</p></a>*@
                      <p class="mb-0">
                            <a href="#" id="ForgetPassword">Forget Password</a>
                  </p>
                </form>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div id="BlockModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="ModalTitle"></h4>
                        <button type="button" id="SuccessModalCancel" class="close btn btn-danger" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="ModalText">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="SuccessModalClose" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        $('#btnSignIn').click(function () {
            var UserName = $('#txtusername').val();
            var Password = $('#txtpassword').val();
            $.ajax({
                url: '/Home/Authenticate',
                type: 'Post',
                data: {
                    UserName,
                    Password,
                },
              
                success: function (obj) {
                    console.log(obj);
                    debugger
                        sessionStorage.setItem("token", obj.token);
                        GetUserId();
                },
                error: function (data) {
                    $('#ModalTitle').empty();
                    $('#ModalText').empty();
                    $('#ModalTitle').append('Error');
                    $('#ModalText').append('Password or User Name is incorrect');
                    $('#BlockModal').modal('show');
                 
                }
            })
        })
        $('#ForgetPassword').click(function(){
            window.location.replace('/Login/ForgotPassword');
        })

        $('#btnregister').click(function () {
            window.location.href = '/Home/CreateAccount';
        })

        function ShowPassword(event) {
                var show = document.getElementById('txtpassword');
                debugger
                if (show.type == 'password') {
                    show.type = 'text';
                }
                else {
                    if (show.type == 'text') {
                        show.type = 'password';
                    }
                }
            }

            function GetUserId(){
                var token = sessionStorage.getItem('token');
                $.ajax({
                    headers: {
                        Authorization: `Bearer ` + token
                    },
                    url: '/Home/RedirectingPages',
                    type: 'Get',
                    success: function (obj) {

                    console.log(obj);
                    debugger
                    if(obj == null){
                       alert("Please Login");
                    }
                    else{
                        if(obj == 2)
                        {
                            window.location.replace('/Home/SellerDashBoard');
                        }
                        else
                        {
                            if(obj == 3 ||obj == 4)
                            {
                                window.location.replace('/Home/DashboarView');
                            }
                            else
                            {
                                //if(obj == 5)
                                //{
                                //       sessionStorage.clear('token');
                                //       $('#ModalTitle').empty();
                                //       $('#ModalText').empty();
                                //       $('#ModalTitle').append('Blocked');
                                //       $('#ModalText').append('Your Account is blocked on temporary Bases. Please Contact Admin For <a>Help</a>');
                                //       $('#BlockModal').modal('show');
                                //}
                                //else
                                //{
                                    window.location.replace('/Home/Index');
                                //}
                                
                            }    
                        }
                    }
                    }
                })
            }


            $('#SuccessModalCancel').click(function(){
            $('#BlockModal').modal('hide');
            })


        $('#SuccessModalClose').click(function () {
            $('#BlockModal').modal('hide');
        })
    </script>

</html>