@model DarazApp.Models.ForgetPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
<h1>ForgotPassword</h1>

<h4>ForgetPasswordModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       @if(Model?.EmailSent == true){
           <div class="alert alert-success" role="alert">
               <p>We have Sent Email Address on your registered Email ID.</p>
           </div>
       }
        else
        {
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                @*<div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="EmailSent" /> @Html.DisplayNameFor(model => model.EmailSent)
                    </label>
                </div>*@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        }

    </div>
</div>

<div>
    <a asp-action="CreateAccount" asp-controller="Homr">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
