@using DarazApp.Entities;
@model DarazApp.Services.ViewModel
@{
	ViewData["Title"] = "GetCategoiesbyID";
	Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
    }
	<section class="padding-y">
		<div class="container">
			<section class="padding-top">

				<nav class="row gy-5 row-cols-xl-8 row-cols-sm-5 row-cols-3" id="Categor">

				</nav>

			</section>
			<header class="section-heading">
				<h3 class="section-title">New products</h3>
			</header>
			<div class="row" id="Produc">
			</div>
		</div>
	</section>

<div class="container">
		<div id="Categor"></div>
	<div id="Produc"></div>
	</div>
<script>

	$(document).ready(function(){
		debugger
			GetCategories();
			GetPerCategories();
	})

	function GetPerCategories(){
		debugger
		let url_str = window.location.href;
		let url = new URL(url_str);
		let search_params = url.searchParams;
		let id = search_params.get('id');
		$.ajax({
			url : '/Home/GetCatebyId?id='+id,
			success: function (response) {
				debugger
			var html = "";
			let diff = 6.048e+8;
			$.each(response, function (key, item) {
				var dat = item.uploadDate;
				var date = new Date();
				var pricesvalue = [];
				html += '<div class="col-lg-3 col-md-6 col-sm-6">';
				html += '<figure class="card-product-grid" >';
				html += ((date - (new Date(item.uploadDate))) <= diff) ? ' <a href="/Home/GetProductbyId?id=' + item.productId + '" class="img-wrap rounded bg-gray-light"><p class="topbar"><span class="badge bg-danger"> New</span></p><img height="250" class= "mix-blend-multiply" src = "' + item.productImage + '" ></a> ' : ' <a href="/Home/GetProductbyId?id=' + item.productId + '" class="img-wrap rounded bg-gray-light"><img height="250" class= "mix-blend-multiply" src = "' + item.productImage + '" ></a>';
				html += '<figcaption class="pt-2" >';
				//html += '<a href="/Home/GetProductbyId?Id='+ item.productId +'" class="float-end btn btn-light btn-icon"></a>';
				html += '<a href="#" class="btn btn-light btn-icon float-end" id="hearttag" onclick="AddtoWishList(' + item.productId + ')"><i class="fa fa-heart"></i></a>';
				$.each(item.productViewModels?.productVariations, function (key, itemss) {
					$.each(itemss.productBatches, function (key, obj) {
						pricesvalue = obj.price;
					})
				})
				var first = $(pricesvalue).get(0);
				html += '<strong class="text-muted12d"> RS :' + first + '</strong>';
				html += '<a href="/Home/GetProductbyId?Id=' + item.productId + '" class="title text-truncate">' + item.productName + '</a>';
				html += '<small class="text-muted"></small>';
				html += '</figcaption>';
				html += '</figure>';
				html += '</div>';
				html += '<h3 type="text" hidden="hidden" id="update">' + item.uploadDate + '</h3>'
			})
					$('#Produc').append(html);
		}
				})
			}


	function GetCategories(){
		debugger
			let url_str = window.location.href;
			let url = new URL(url_str);
			let search_params = url.searchParams;
			let id = search_params.get('id');

			$.ajax({
				url: '/Home/GetPErCate?id='+id,
				success: function (response) {
					debugger
					var cated = "";
					$.each(response, function (key, item) {
						console.log('it',item);
						var dat = item.uploadDate;
						cated += '<div class="col">';
						cated += '<a href="/Home/GetKiDCate?id=' + item.perCategoryId + '" class="item-link text-center">';
						cated += '<i class="' + item.perCategoriesIcon + '" style="font-size:24px"></i>';
						cated += '<span class="text"> ' + item.perCategoryName + '</span>';
						cated += '</a>';
						cated += '</div>';
					})
					$('#Categor').append(cated);
				}
			})
	}
</script>


