@using DarazApp.Services;
@model DarazApp.Services.ViewModel;

@{
    ViewData["Title"] = "UpdateUserAccount";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section Scripts {
    @{  
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    <div class="container">
    <div class="card-body bg-gray" id="newcard">
        <card>
          @*  <div class="row mb-4">
                <div class="col-3">   
                </div>  
                <div class="col-3">
                <div class="aside">
                    <span class="bg-gray icon-md rounded-circle">
                            <div id="UserImage"></div>
                    </span>
                </div>
                </div>
                <div class="col-3">
                    <input type="file" name="file" id="file" onchange="previewFile(this);" />
                    <div class="aside">
                        <span class="bg-gray icon-md rounded-circle">
                            <img id="previewImg" src="previewImg" />
                           
                        </span>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>*@

                <div class="row mb-4">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <div class="aside">
                            <span class="bg-gray icon-md rounded-circle">
                                <div id="UserImage"></div>
                            </span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="gallery-uploader-wrap" width="5" height="5">
                            <label class="uploader-img1">
                                <input type="file" name="file" id="file" onchange="previewFile(this);">
                                <svg xmlns="" fill="#999" width="32" height="32" viewBox="0 0 24 24">
                                    <circle cx="12" cy="12" r="3"></circle>
                                    <path d="M16.83 4L15 2H9L7.17 4H2v16h20V4h-5.17zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"></path>
                                </svg>
                            </label>
                        </div>
                        <div class="aside">
                            <span class="bg-gray icon-md rounded-circle">
                                <img class="icon-md rounded-circle" id="previewImg" />
                            </span>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>

            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3"></div>
                <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                    <input type="text" id="UserNames" class="form-control" placeholder="User Name">
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <input type="text" id="FatherName" class="form-control" placeholder="Second Name">
                </div>
                    <div class="col-sm-12 col-md-3 col-lg-3 mb-4"></div>
            </div>

            <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3"></div>
                <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                    <input type="text" id="Emails" class="form-control" placeholder="Email">
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                    <input type="text" id="CNIC" class="form-control" placeholder="CNIC">
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3"></div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3"></div>
                    <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                    <input type="text" id="Gender" class="form-control" placeholder="Gender">
                </div>
                    <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                    <input type="text" id="PhoneNos" class="form-control" placeholder="Phone No">
                </div>
                    <div class="col-sm-12 col-md-3 col-lg-3"></div>
            </div>

            <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3"></div>
                    <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                    <input type="text" id="Age" class="form-control" placeholder="Age">
                </div>
                    <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                    <input type="text" id="Nationality" class="form-control" placeholder="Nationality">
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3"></div>
            </div>

               <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3"></div>
                    <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                        <input type="text" id="PostalCodes" class="form-control" placeholder="Postal Code">
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                        <input type="text" readonly id="RoleName" class="form-control" placeholder="Role">
                </div>
                    <div class="col-sm-12 col-md-3 col-lg-3"></div>
            </div>

            <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3"></div>
                    <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                    <input type="text" id="City" class="form-control" placeholder="City">
                </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
@*                    <input type="text" id="Nationality" class="form-control" placeholder="Postal Code">
*@                </div>
                <div class="col-sm-12 col-md-3 col-lg-3"></div>
            </div>
            <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3"></div>
                    <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                   
                    <input type="password" id="Password" class="form-control" placeholder="Password">
                    <label for="show-password" class="field__toggle">
                        <input type="checkbox" id="Checkbox" class="field__toggle-input" onclick="ShowPassword();" />
				Show password
			</label>
                </div>
                    <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                    <input type="text" id="Password1" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3"></div>
            </div>
            
            <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4"></div>
                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                    <textarea class="form-control" id="Address" placeholder="Address"></textarea>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4"></div>
              @*  <div class="col-3"></div>*@
            </div>
         
                <div class="row mb-4">
                <div class="col-3"></div>
                <div class="col-9">
                    <button class="btn btn-primary" id="Update">Update</button>
                </div>
            </div>
       
        </card>
    </div>
    </div>

        <div>
        <div id="SuccessModal12" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="SuccessModalTitle12"></h4>
                        <button type="button" id="SuccessModalcancel12" class="close btn btn-danger" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div id="SuccessModalText12"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="SuccessModalclose12" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('#UserNames').empty();
            GetUserInfo();
            
        })
        function GetUserInfo() {
            debugger
            var token = sessionStorage.getItem('token');
            $.ajax({
                headers: {
                    Authorization: 'Bearer ' + token
                },
                url: '/Home/GetUserData',
                type: 'Get',
                success: function (response) {
                    debugger
                    console.log(response);
                    console.log(response.roleName);
                    $('#UserNames').val(response.userName);
                    $('#FatherName').val(response.fatherName);
                    $('#Emails').val(response.email);
                    $('#PhoneNos').val(response.phoneNo);
                    $('#Address').val(response.address);
                    $('#City').val(response.city);
                    $('#PostalCodes').val(response.postalCode);
                    $('#RoleName').val(response.roleName);
                    $('#Age').val(response.age);
                    $('#UserImage').append('<img class="icon-md rounded-circle" src="' +response.userImage +'"/>');
                    $('#Gender').val(response.gender);
                    $('#CNIC').val(response.cnic);
                    $('#Nationality').val(response.nationality);
                    $('#Password').val(response.password);

                }
            })
        }
        function previewFile(input) {
            var file = $("input[type=file]").get(0).files[0];
            debugger
            if (file) {
                var reader = new FileReader();

                reader.onload = function () {
                    $("#previewImg").attr("src", reader.result);
                }

                reader.readAsDataURL(file);
            }
        };

        $('#SuccessModalclose12').click(function () {
            $('#SuccessModal12').modal('hide');
            window.location.replace('/Home/UpdateUserAccount');
        })

        $('#SuccessModalclose12').click(function(){
            $('#SuccessModal12').modal('hide');
            window.location.replace('/Home/UpdateUserAccount');
        })

        $('#Update').click(function(){
            debugger
            var pd = $('#Password').val();
            var pd1 = $('#Password1').val();
            if (pd == pd1) 
            {
                Continue();
            }
            else 
            {
                debugger
                $('#SuccessModalTitle12').empty();
                $('#SuccessModalText12').empty();

                $('#SuccessModalTitle12').append('Error');
                $('#SuccessModalText12').append('Password and Confirm Password values Should be Same.');
                $('#SuccessModal12').modal('show');
            //alert("Password and Confirm Password values Should be Same.");
            }
        })
        function Continue() {
           
            var token= sessionStorage.getItem('token');
            var form = new FormData();
            form.append('UserName',$('#UserNames').val());
            form.append('FatherName',$('#FatherName').val());
            form.append('Age',$('#Age').val());
            form.append('PhoneNo',$('#PhoneNos').val());
            form.append('PostalCode', $('#PostalCodes').val());
            form.append('Email',$('#Emails').val());
            form.append('Cnic',$('#CNIC').val());
            form.append('City',$('#City').val());
            form.append('Nationality',$('#Nationality').val());
            form.append('Password', $('#Password').val());
            form.append('Address',$('#Address').val());
            form.append('Gender',$('#Gender').val());
            form.append('file',$('#file')[0].files[0]);
            console.log(form);
            $.ajax({
                headers: {
                    Authorization: `Bearer ` + token
                },
                url: '/Home/UpdateUserData',
                type: 'Post',
                data: form,
                processData: false,
                contentType: false,
                success: function (data) {
                     debugger
                    $('#newcard').show();
                $('#SuccessModalTitle12').empty();
                $('#SuccessModalText12').empty();
                $('#SuccessModalTitle12').append('Success');
                $('#SuccessModalText12').append('Account Updated Successfully.');
                $('#SuccessModal12').modal('show');
                    GetUserInfo();
                    
                },
                error: function (data) {
                  $('#SuccessModalTitle12').empty();
                $('#SuccessModalText').empty();

                $('#SuccessModalTitle12').append('Error');
                $('#SuccessModalText12').append('Error Account Updated.');
                $('#SuccessModal12').modal('show');
                }
            })
        }
       
        function ShowPassword(event) {
            var show = document.getElementById('Password'); 
            debugger
            if (show.type == 'password') 
              {
                show.type = 'text';
              }
            else
              {
            if (show.type == 'text'){
                show.type = 'password';
              }
            }
        }
    </script>