@using DarazApp.Services;
@model DarazApp.Services.SaveData
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-12 mt-5 d-flex justify-content-center">
                <form class="w-50 border p-5 bg-gray-light" id="UpdatePassword" style="margin:10%">
                    <h1 class="text-center">Update Password </h1>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Enter New Password</label>
                            <input type="email" class="form-control" id="UserName" aria-describedby="emailHelp" placeholder="Enter Password">
                        <input type="email" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter Password">
                        <input type="email" class="form-control" id="password1" aria-describedby="emailHelp" placeholder="Enter Password">
                    </div>
                    <button type="button" id="btnSignIn" class="btn btn-primary btn-lg btn-block" style="margin:13px">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
$('#btnSignIn').click(function () {
    debugger
            var UserName = $('#UserName').val();
            var Password = $('#password').val();
                var Password1 = $('#password1').val();
                $.ajax({
                    url: '/Home/UpdatePassword',
                    type: 'Post',
                    data: {
                    Password, Password1, UserName,
                    },
            success: function (obj) {
                debugger
                $("#response").html("<h2>Password Successully Updated< /h2>");
                window.location.href = '/Home/FirstPage'
    },
    error: function (data) {
    alert("User Name does not Exist");
    }
    });
    });
</script>